.ad-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 15px;
  justify-content: center;
}

.ad-mini {
  width: 600px;
  /* height: 200px; */
  display: flex;
  position: relative;
  cursor: pointer;
}

.ad-mini > .img-sec {
  /* height: 100%; */
  flex: 2;
  overflow: hidden;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-sec p {
  position: absolute;
  line-height: 1.2rem;
  background-color: white;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  font-weight: 600;
  font-size: 0.8rem;
}
.img-sec p:first-of-type {
  top: 0;
}
.img-sec p:last-of-type {
  bottom: 0;
}

.ad-mini .details {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  padding: 0 6px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  flex: 3;
  padding-bottom: 26px;
}

.ad-mini .details p {
  margin: 0;
}

.ad-mini .location {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}
.ad-mini p.description {
  margin: 10px 5px 20px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}
.ad-mini .time {
  position: absolute;
  right: 10px;
  bottom: 4px;
  /* font-weight: 600; */
  color: #109f0f;
}

.ad-list .badges {
  position: absolute;
  left: 6px;
  bottom: 0;
  gap: 6px;
  display: flex;
}

.ad-mini a,
.ad-mini a:visited,
.ad-mini a:hover {
  text-decoration: none;
}

@media screen and (max-width: 700px) {
  .ad-mini {
    width: 100%;
    display: flex;
  }
  .ad-mini > .img-sec {
    height: 100%;
  }
}
