.login {
  height: 100vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}
.banner-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
.form-section {
  height: 100%;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login p {
  color: #9a9999;
  font-weight: 300;
}
a,
a:visited {
  color: var(--primary-color);
  text-decoration: underline;
  font-weight: 500;
}
p.copyright {
  color: var(--primary-color);
  text-align: center;
  font-weight: 600;
  font-size: 0.8rem;
  /* position: absolute; */
  /* bottom: 20px; */
}
p.form-title {
  color: #9a9999;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 600;
  /* font-family: "Segoe UI"; */
  font-size: 1.2rem;
  text-align: center;
}

.building {
  width: 80px;
  height: auto;
  margin: auto;
  display: block;
}
.login-input {
  width: 100%;
  display: block;
  height: 34px;
  margin-bottom: 12px;
  text-align: center;
  background-color: #eae8e8;
  border: none;
}

.login-input::placeholder {
  text-transform: uppercase;
}
.login-input:focus {
  outline: 1px solid var(--primary-color);
  background-color: white;
  color: black;
}

.login-button {
  background-color: var(--primary-color);
  width: 100%;
  border: none;
  height: 35px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 500;
}
.login form {
  width: 100%;
  max-width: 250px;
}
@media only screen and (max-width: 900px) {
  .login-container {
    grid-template-columns: 0 1fr;
  }
  .form-section {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .login p,
  p.form-title .p.copyright {
    color: white;
  }
  p.form-title {
    font-weight: 700;
    margin-bottom: 0;
  }
  .login {
    background-size: cover;
  }
}

@media only screen and (max-width: 500px) {
  .login {
    background-position: center;
  }
}
