* {
  font-size: 0.9rem;
}

:root {
  --primary-color: #cd730c;
  /* --primary-color: #983628; */
  /* --primary-color: #034c3c; */
  --primary-color: #016450;
  --secondary-lite: rgb(235, 235, 235);
  --secondary-color: #1bc58e;
  --third-level-color: #983628;
  --secondary-lite-transparent: rgba(235, 235, 235, 0.4);
}

.flexy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexy > * {
  flex: 1;
}

.bg-white {
  background-color: #ffffff;
}

.form-control.block {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.form-control.block input {
  width: 100%;
  height: 40px;
  background-color: white;
  color: black;
  border: 2px solid rgba(43, 43, 43, 0.3);
}
.form-control.block input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}
