* {
  font-size: 0.9rem;
}

:root {
   --primary-color: #cd730c;
  /* --primary-color: #983628; */
  /* --primary-color: #034c3c; */
  --secondary-lite: rgb(235, 235, 235);
  --secondary-color: #1bc58e;
  --third-level-color: #983628;
  --secondary-lite-transparent: rgba(235, 235, 235, 0.4);
}

.flexy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexy > * {
  flex: 1;
}
