.navbar {
  height: 60px;
  background-color: #cd730c;
  color: white;
}

.nav-container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-menu {
  display: flex;
  gap: 15px;
  list-style-type: none;
  list-style: none;
}

.nav-item a,
.nav-item a:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
}

.mobile-menu-link {
  width: 34px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

.mobile-menu-link span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgb(225, 225, 225);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.mobile-menu-link span:nth-child(1) {
  top: 0px;
}

.mobile-menu-link span:nth-child(2),
.mobile-menu-link span:nth-child(3) {
  top: 9px;
}

.mobile-menu-link span:nth-child(4) {
  top: 18px;
}

.mobile-menu-link.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.mobile-menu-link.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-menu-link.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-menu-link.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
h6,
h6 span {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 20px;
  color: white;
}
h6 span {
  font-weight: 200;
}

@media screen and (max-width: 900px) {
  .mobile-menu-link {
    display: block;
  }
  .nav-menu {
    display: none;
  }
}
