.navbar {
  height: 50px;
  background-color: var(--primary-color);
  color: white;
}

.nav-container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-menu {
  display: flex;
  gap: 15px;
  list-style-type: none;
  list-style: none;
}

.nav-item a,
.nav-item a:visited {
  color: white;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-weight: 700;
  font-size: 0.85rem;
}

.mobile-menu-link {
  width: 34px;
  height: 24px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: none;
}

.nav-hamburger {
  display: none;
}

.mobile-menu-link span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: rgb(225, 225, 225);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.mobile-menu-link span:nth-child(1) {
  top: 0px;
}

.mobile-menu-link span:nth-child(2),
.mobile-menu-link span:nth-child(3) {
  top: 9px;
}

.mobile-menu-link span:nth-child(4) {
  top: 18px;
}

.mobile-menu-link.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.mobile-menu-link.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobile-menu-link.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.mobile-menu-link.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
h6,
h6 span {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 20px;
  color: white;
}
h6 span {
  font-weight: 200;
}

.nav-item.parent {
  position: relative;
}
.nav-children {
  display: none;
}

.nav-item.parent.active .parent-link {
  background-color: whitesmoke;
  color: var(--primary-color);
}

.nav-child {
  padding: 2px 10px;
  width: 100%;
}
.parent-link {
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
}
.iconed .icon {
  height: 20px;
  margin: 0 5px;
}

.nav-children {
  padding: 10px 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: white;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  border-radius: 8px;
}
.nav-children li {
  list-style: none;
  display: block;
  box-sizing: border-box;
  color: var(--primary-color);
}

.nav-children li:hover {
  background-color: #ebebeb;
}
.nav-child a,
.nav-child a:visited {
  color: var(--primary-color);
  white-space: nowrap;
}

.nav-children li:hover a {
  color: rgb(32, 32, 32);
}
@keyframes fade-up {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 100%;
    opacity: 1;
  }
}

@media screen and (max-width: 900px) {
  .mobile-menu-link,
  .nav-hamburger {
    display: block;
  }
  .nav-menu {
    display: none;
  }
}
